body h2 {
    backface-visibility: hidden;
    color: #194866;
    font-family: 'DM Serif Display', sans-serif;
    font-weight: normal;
}
.underline-style {
    text-decoration: underline;
    color: blue; /* You can even color the text/underline */
}


.ride-row {
    --bs-gutter-x: 0.2rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.ride-card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: rgb(104 167 158 / 6%);
    border-bottom: 1px solid rgb(0 0 0 / 15%);
}


/*----------user view------------------*/
.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.label {
    font-size: 14px;
    color: #777;
}

.value {
    font-size: 28px;
    font-weight: bold;
    margin-top: 8px;
}