@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container bg-light">
    <div class="row">
        <br />
        <br />
        <h2>About Us </h2>
        <br />
        <br />
        <p>We are a fast-growing Car/Cab/Trasport Service driven by a clear vision and a deep passion for delivering safe and secure journey.</p>

        <p>At our core, we believe in challenging the status quo and redefining standards through innovation and thoughtful craftsmanship.</p>

        <p>Our commitment is reflected in every service we create—crafted to be Clear, Safe, secure in journey, and uncompromising in peacefull and hassle free journey, while always keeping our passengers at the heart of everything we do.</p>

        <p>We specialize in creating comfort, safe, secure Journey that you can trust. Join us as we continue our journey toward excellence.</p>
        <div class="container">
            <div class="row" style="background-color:white">
                <h1>Shri Pavan B <h4>(MSc, BTech)</h4> </h1>
                <a>CEO & Founder</a>
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</div>