@page
@model ShriGo.Pages.ProcessModel
@{
}
@* <a href="~/pdf/driver sigup process.pdf">~/pdf/driver sigup process.pdf</a> *@

<iframe src="~/pdf/driver sigup process.pdf" width="100%" height="900px"></iframe>