@page
@model ShriGo.Pages.SignUpModel
@{
}
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-5">
                        <div class="card p-4 shadow-sm">
                            <h2 class="text-center mb-4">Sign Up</h2>
                            <form method="post">
                                <div class="mb-3">
                                    <label for="firstName" class="form-label">Are you a </label>
                                    <select class="form-control" id="Role" name="UserRole">
                                        <option hidden>--</option>
                                        <option value="Driver">Driver</option>
                                        <option value="Passenger">Passenger</option>
                                        </select>
                                </div>
                                <div class="mb-3">
                                    <label for="firstName" class="form-label">First Name</label>
                                    <input type="text" class="form-control" id="firstName" name="UserFirstName" required>
                                </div>
                                <div class="mb-3">
                                    <label for="lastName" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="lastName" name="UserLastName" required>
                                </div>
                                <div class="mb-3">
                                    <label for="age" class="form-label">Age</label>
                                    <input type="text" class="form-control" id="Age" name="UserAge" aria-describedby="age" min="0" max="99" required>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="email" name="UserEmail" aria-describedby="emailHelp">
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                                </div>
                                <div class="mb-3">
                                    <label for="contact" class="form-label">Contact</label>
                                    <input type="text" class="form-control" id="contact" name="UserContact" aria-describedby="contact" required>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" name="UserPswd" id="password" required>
                                </div>
                                <div class="mb-3">
                                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                                    <input type="password" class="form-control" id="confirm_password" onkeyup="checkMatches()" required>
                                    <span id="message"></span>
                                </div>
                                <br />
                                <div class="mb-3">
                                    <label for="confirmPassword" class="form-label">Please choose Subscription</label>
                                    <select class="form-control" id="Subscription" name="Subscription" required>
                                        <option hidden>--</option>
                                        <option value="200">200/m</option>
                                    </select>
                                </div>
                                <br />
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-primary">Sign Up</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
<script>
          function checkMatches() {
              const password = document.getElementById('password').value;
              const confirm = document.getElementById('confirm_password').value;
              const message = document.getElementById('message');

              if (password === confirm) {
                message.innerHTML = 'Matching';
                message.style.color = 'green';
              } else {
                message.innerHTML = 'Not Matching';
                message.style.color = 'red';
              }
            }

</script>
</div>